body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: middle;
}

	/* Hide default HTML checkbox */
	.switch input {
		display: none;
	}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

input:checked + .slider {
    background-color: #28a745;
}

input:focus + .slider {
    box-shadow: 0 0 1px #28a745;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

	.slider.round:before {
		border-radius: 50%;
	}


#rbya-accept-decline {
    text-align: center;
}

#rbya-contract-title {
    text-align: center;
}

.rbya-accept-button {
    background-color: #222;
    color: #999999;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    width: 20%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

    .rbya-accept-button:focus {
        text-decoration: none;
        border: 2px solid #227;
    }


    .rbya-accept-button:hover {
        background-color: #555;
    }

        .rbya-accept-button:hover h4 {
            color: #222 !important;
        }

.rbya-button-text, #rbya-decline h4, #rbya-accept h4 {
    font-weight: bold;
    color: #999999;
}

#rbya-signature {
    text-align: center;
    margin-bottom: 20px;
}

#rbya-signature-hidden {
    display: none;
    margin-top: 10px;
}

    #rbya-signature-hidden p {
        color: red;
    }