@model IEnumerable<Elections.Models.Candidate>
@{
    ViewData["Title"] = "Index";
}
<div class="center-block text-center container">

    <div class="row" style="margin-bottom:100px;">
        <img src="~/images/elections.png" style="margin:auto; width:25%;" />
    </div>

    <h2>Second / Comment On A Candidate</h2>
    
</div>
<div class="row">
    <p>
        Our candidates need to be seconded or approved
        by somebody else in order for them to be accepted. However, this is an opportunity to voice
        your support or any comments you may have about the candidate, either positive or negative.
    </p>
    <p>
        We will look through them and mark the appropriate candidates as seconded after you have submitted your support. Thank you for your help.
    </p>
</div>
    <h3>Candidates Still In Need of Seconding</h3>
    <ul>
        @foreach (var candidate in Model.Where(x => !x.Ready))
        {
            <li><h4><a href="/comment/@candidate.Id">@candidate.Name</a></h4></li>
        }
    </ul>

    @if (Model.Where(x => x.Ready).Count() > 0)
    {
        <hr />
        <h3>Approved Candidates</h3>
        <p>The following candidates have already been seconded, but any feedback may help, either positive or negative.</p>
        <ul>
            @foreach (var candidate in Model.Where(x => x.Ready))
            {
                <li><h4><a href="/comment/@candidate.Id">@candidate.Name</a></h4></li>
            }
        </ul>
    }

