@{
	ViewData["Title"] = "RBYA Elections";
}

<div class="center-block text-center container">
	<div class="row" style="margin-bottom:100px;">
		<img src="~/images/elections.png" style="margin:auto; width:50%;" />
	</div>
    <h1><strong>Voting Has Been Closed</strong></h1>
	<div class="col-md-6 col-xs-12">
		<form role="form" action="signup" method="post">
			<div class="panel panel-default" style="margin:20px;">
				<div class="panel-heading">
					<label class="control-label" for="email">Sign Up To Vote</label>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<input type="email" disabled readonly name="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<button type="submit" disabled class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</form>

	</div>
	<div class="col-md-6 col-xs-12">
		<form role="form" action="login" method="post">
			<div class="panel panel-default" style="margin:20px;">
				<div class="panel-heading">
					<label class="control-label" for="code">Log in with your secret code</label>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<input class="form-control" disabled readonly name="code" id="code" placeholder="Secret Code">
					</div>
					<button type="submit" disabled class="btn btn-primary">Log In</button>
				</div>
			</div>
		</form>
	</div>
</div>
