@{
	ViewData["Title"] = "RBYA Elections";
}

<div class="center-block text-center container">
	<div class="row" style="margin-bottom:100px;">
		<img src="~/images/elections.png" style="margin:auto; width:50%;" />
	</div>

	<div class="col-md-6 col-xs-12">
		<div class="panel panel-default" style="margin:20px;">
			<div class="panel-body">
				<form role="form">
					<div class="form-group">
						<label class="control-label" for="exampleInputEmail">Sign Up To Vote</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
        <form role="form">
            <div class="panel panel-default" style="margin:20px;">
                <div class="panel-heading">
                    <label class="control-label" for="exampleInputEmail">Log in with your secret code</label>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="email" class="form-control" id="code" placeholder="Secret Code">
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </div>
        </form>
	</div>
</div>
