
@{
    ViewData["Title"] = "Process";
}
<h2>RBYA nomination Process</h2>


<ul>
    <li>Ghita nominates Elena.</li>
    <li>Elena gets an email with a url asking her to confirm her nomination.</li>
    <li>Elena clicks the link and is taken to a page.</li>
    <li>She signs the contract and is marked as Confirmed</li>
    <li>Nicolae goes to the site and sees the seconding/commenting section.</li>
    <li>He clicks and sees only the people who are marked as Confirmed.</li>
    <li>Nicolae clicks on Elena and leaves a comment about her.</li>
    <li>The election admins go in and see the comments and on a control panel, manually mark Elena as having been seconded.</li>
    <li>Elena may get an email scheduling a time to talk to her.</li>
    <li>When the election comes, Elena's name will show up in the list of nominees.</li>
</ul>