@model Elections.Models.Candidate
@{
    ViewData["Title"] = "Nomination";
}
<div class="center-block text-center container">
    <div class="row" style="margin-bottom:100px;">
        <img src="~/images/elections.png" style="margin:auto; width:25%;" />
    </div>

    <h2>Nominate A Candidate</h2>
    <div class="row">
        <p class="col-md-6 col-xs-12 col-s-12 col-md-push-3">
            In order for somebody to be elected in the RBYA,
            they must first be nominated. This is your chance to propose a talented youth from the Romanian community and suggest them.
            They may or may not accept the offer, but you should provide a compelling reason why you think they should run as they will
            need to be seconded by others in order to be accepted. Please take the time to answer the form below:
        </p>
    </div>
</div>

<br />
<hr />
<h2>Candidate Information</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Church" class="control-label"></label>
                <input asp-for="Church" class="form-control" />
                <span asp-validation-for="Church" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="Position" asp-items="Html.GetEnumSelectList<Position>()" class="form-control"></select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Background" class="control-label"></label>
                <textarea asp-for="Background" class="form-control"></textarea>
                <span asp-validation-for="Background" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reasons" class="control-label"></label>
                <textarea asp-for="Reasons" class="form-control"></textarea>
                <span asp-validation-for="Reasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Submitter" class="control-label"></label>
                <input asp-for="Submitter" class="form-control" />
                <span asp-validation-for="Submitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmitterEmail" class="control-label"></label>
                <input asp-for="SubmitterEmail" class="form-control" />
                <span asp-validation-for="SubmitterEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
